root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts,css,html,json}]
indent_style = space
indent_size = 2

[{serve.js,scrape.js,public/js/{home,clock,snackbar}.js}]
indent_style = space
indent_size = 4

[*.bat]
end_of_line = crlf

[*.md]
indent_style = space
indent_size = 4
max_line_length = 80
