#pdf_topnav {
  display: flex;
  justify-content: center;
}

#pdf_topnav i {
  font-size: 27px;
  padding: 4px;
}

#pdf_topnav span {
  padding: 5px;
  border-color: var(--black);
  border-left: solid;
}

#pdf_topnav button {
  border: none;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  color: var(--black);
}

#page-indicator {
  display: inline;
}
