#pdf_select {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;

  border-color: var(--white);
  border-radius: 5px;
  appearance: none;
}

#pdf_select::after {
  content: '>';
}
/* #pdf_select:focus
#pdf_select:hover {
  outline: none;
  border: 1px;
} */