body {
	background-size: cover;
	background-color: #f7f7f7;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

label {
	display: none;
}

h4#title {
	position: absolute;
	font-family: Poppins-Bold, Arial, Helvetica, sans-serif;
	font-size: 80px;
	color: #00551D;
	left: 0px;
	right: 0px;
	margin-left: 125px;
	margin-right: 125px;
}

.container-login100 {
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #268A48, #003913);
	background: -o-linear-gradient(-135deg, #268A48, #003913);
	background: -moz-linear-gradient(-135deg, #268A48, #003913);
	background: linear-gradient(-135deg, #268A48, #003913);

}

.tabulator-col {
    height:  35px;
}

button {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}


#recentAttendance {
	display: none;
}

#categoriesTable {
	display: none;
}


#assignmentsTable {
	display: none;
}

#assignmentsButtonDiv {
	display: none;
	width: 100%;
}

.assignmentsButton {
	text-transform: capitalize !important; 
	color: white !important;
	background: #ffffff;
	padding: 10px 10px;
	margin: -5% 5% 0.5% 5% !important;
	/*border: 4px solid #494949 !important; */
	/*border-radius: 6px;*/
	display: inline-block !important;
	width: 30% !important;
	/*width: 300px !important;*/
}

.assignmentsButton:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	/*transition: all 0.4s ease 0s;*/
}

.center-div {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 225px;
	height: 34px;
	margin-top: 3px;
	margin-bottom: 10px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 1s;
	transition: 1s;
}

.switch input:checked + .slider {
	background-color: #999;
}

.switch input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(190px);
	-ms-transform: translateX(190px);
	transform: translateX(190px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Style the tab */
.tab {
	overflow: visible;
  /*overflow: visible;*/
  display: inline-block;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	/*transition: 0.3s; commented out to prevent weird transitions involving Calculated GPA*/
}

/*
.tab button#GPA {
	float: right;
}
*/

.tab .GPA {
	color: black !important;
	float: right;
  font-size: 14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
}


.tab button#logout {
	float: right;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	background: rgba(255, 255, 255, 0.3);
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.tabcontent {
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}
#recent_title {
	color: white;
	display: inline;
	position: relative;
	font-size: 20px;
	letter-spacing: 0.1em;
}
#schedule_title {
	color: white;
	display: inline;
	position: relative;
	font-size: 20px;
	letter-spacing: 0.1em;
}

div.tabcontent, div.tab {
	width: 98%;
	margin: auto;
	left: 0;
	right: 0;
}

.text-center.p-t-12.login100-form {
	/* margin: auto; */
	/* padding: 0; */
	margin-top: 5px;
	width: 100%;
}

.wrap-login100 {
	padding: 5% 7.5% 5% 7.5%;
}

form.login100-form {
	margin: auto 0 auto 0;
	height: fit-content;
}

.logo {
	height: 100px;
	margin: 10px 10px 25px 10px;
	width: 100px;
	display: inline;
	float: left;
}

.logo canvas {
	overflow: auto;
	max-height: 100%;
	height: 100px;
	float: left;
}

.login100-pic.js-tilt {
	height: fit-content;
	margin-top: auto;
	margin-bottom: auto;
}

.tablinks {
	color: black;
}

i.fa.fa-plus.grades {
    color: #00551C;
    padding-left: 31%;
    padding-top: 25%;
    font-size: large;
    cursor: pointer;
}

i.fa.fa-info-circle {
    color: #00551C;
    padding-left: 31%;
    padding-top: 25%;
    font-size: large;
    cursor: default;
}

i.fa.fa-eye-slash {
    color: #00551C;
    padding-left: 38%;
    padding-top: 11%;
    font-size: large;
    cursor: pointer;

}

canvas#large_clock {
    width: 100%;
    max-width: 400px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #00551D;
  color: white;
}

.modal-body {padding: 2px 16px;}

/*.js-plotly-plot,
.plot-container {
          width: 80vh
}*/

#stats_modal {
	/*padding: auto;*/
	/*top: 40px !important;*/
}

#stats_modal_content {
	padding: 20px;
	margin: auto !important;
	top: 40px;
	-webkit-animation-name: statsanimatetop !important;
	-webkit-animation-duration: 0.4s !important;
	animation-name: statsanimatetop !important;
	animation-duration: 0.4s
}
@-webkit-keyframes statsanimatetop {
  from {top:-300px; opacity:0} 
  to {top:140px; opacity:1}
}

@keyframes statsanimatetop {
  from {top:-300px; opacity:0}
  to {top:140px; opacity:1}
}


p#small_clock_period {

    position: absolute;
    top: 110px;
    left: 10px;
}
p#large_clock_period {
    font-size: 50px;
}
#lunch_range {
  -webkit-appearance: none;
  width: 225px;
  height: 34px;
  border-radius: 17px;
  background: #000000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding:5px;
}

#lunch_range:hover {
  opacity: 1;
}

#lunch_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  /*margin: 0px 10px 0px 10px;*/
}

#lunch_range::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}

#lunch_label {
    color: white;
    text-shadow:
    -1px -1px 5px #000,  
    1px -1px 5px #000,
    -1px 1px 5px #000,
    1px 1px 5px #000;
    position: relative;
    font-size: 25px;
    top: -44px;
    height: 0px;
    pointer-events: none;
    letter-spacing: 3.15em;
    text-align: center;
    left: 40px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#calendar {
    width: 95%;
    margin: auto;
}

#calendar-list-container {
    margin: auto;
    max-width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "❌";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "✔";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

i#calendar-edit-toggle, i#calendar-add-toggle {
    padding: 10px 15px 10px 0px;
    float: left;
    cursor: pointer;
    color: black;
}

#add-calendar input {
    border: 2px #00551D solid;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    width: 300px;
}

input#calendar-add-submit {
    background: #268A48;
    padding: 5px 20px;
    margin: 3px;
    cursor: pointer;
}

input#calendar-add-submit:hover {
    background: #107031;
}

p#add-calendar-error {
    color: red;
}



/* Add a black background color to the top navigation */
.pdf_topnav {
  background-color: #333;
  overflow: visible;
  height: 41px;
}

/* Style the links inside the navigation bar */
.pdf_topnav span.right {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.pdf_topnav span.right.hover:hover {
  background-color: #555;
  color: #f2f2f2;
}



/* The container must be positioned relative: */
.pdf_custom-select {
  position: relative;
  font-family: Arial;
  float: left;
}

.pdf_custom-select select {
  display: none; /*hide original SELECT element: */
}

.pdf_select-selected {
  background-color: #248A48;

}

/* Style the arrow inside the select element: */
.pdf_select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.pdf_select-selected.pdf_select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 10px;
}

/* style the items (options), including the selected item: */
.pdf_select-items div,.pdf_select-selected {
  color: white;
  padding: 10px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.pdf_select-items {
  position: absolute;
  background-color: #248A48;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.pdf_select-hide {
  display: none;
}

.pdf_select-items div:hover, .pdf_same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  font-family: Arial;
}
.select-selected:hover {
  background-color: #ddd;
}


/* Style the arrow inside the select element: */
.select-selected:after {
  color: black;
  position: absolute;
  content: "";
  top: 19px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 12px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  /*color: #ffffff;*/
  color: black;
  font-weight: bold;
  padding: 13px 16px;
  /*border: 1px solid transparent;*/
  border-width: 0px;

  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #f2f2f2;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.activated-select-items {
  /*border: 1px transparent solid;*/
  border-width: 0px 1px 1px 1px !important;
  border-style: solid;
  border-color: #248A48;
  /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
}

.activated-selected-item {
  /*border: 1px transparent solid;*/
  border-width: 1px 1px 1px 1px !important;
  border-style: solid;
  border-color: #248A48;
  /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #ddd;
}

