body {
	background-size: cover;
	background-color: #f7f7f7;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

h4#title {
	position: absolute;
	font-family: Poppins-Bold, Arial, Helvetica, sans-serif;
	font-size: 80px;
	color: #00551D;
	left: 0px;
	right: 0px;
	margin-left: 125px;
	margin-right: 125px;
}

.container-login100 {
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #268A48, #003913);
	background: -o-linear-gradient(-135deg, #268A48, #003913);
	background: -moz-linear-gradient(-135deg, #268A48, #003913);
	background: linear-gradient(-135deg, #268A48, #003913);

}

.tabulator-col {
    height:  35px;
}

button {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

#categoriesTable {
	display: none;
}

#assignmentsTable {
	display: none;
}

#assignmentsButtonDiv {
	display: none;
	width: 100%;
}

.assignmentsButton {
	text-transform: capitalize !important; 
	color: white !important;
	background: #ffffff;
	padding: 10px 10px;
	margin: -5% 5% 0.5% 5% !important;
	/*border: 4px solid #494949 !important; */
	/*border-radius: 6px;*/
	display: inline-block !important;
	width: 30% !important;
	/*width: 300px !important;*/
}

.assignmentsButton:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	/*transition: all 0.4s ease 0s;*/
}

.center-div {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 225px;
	height: 34px;
	margin-top: 3px;
	margin-bottom: 10px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 1s;
	transition: 1s;
}

.switch input:checked + .slider {
	background-color: #999;
}

.switch input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(190px);
	-ms-transform: translateX(190px);
	transform: translateX(190px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	/*transition: 0.3s; commented out to prevent weird transitions involving Calculated GPA*/
}

.tab button#GPA {
	float: right;
}

.tab button#logout {
	float: right;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	background: rgba(255, 255, 255, 0.3);
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.tabcontent {
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}
#recent_title {
	color: white;
	display: inline;
	position: relative;
	font-size: 20px;
	letter-spacing: 0.1em;
}
#schedule_title {
	color: white;
	display: inline;
	position: relative;
	font-size: 20px;
	letter-spacing: 0.1em;
}

div.tabcontent, div.tab {
	width: 98%;
	margin: auto;
	left: 0;
	right: 0;
}

.text-center.p-t-12.login100-form {
	/* margin: auto; */
	/* padding: 0; */
	margin-top: 5px;
	width: 100%;
}

.wrap-login100 {
	padding: 5% 7.5% 5% 7.5%;
}

form.login100-form {
	margin: auto 0 auto 0;
	height: fit-content;
}

.logo {
	height: 100px;
	margin: 10px;
	width: 100px;
	display: inline;
	float: left;
}

.logo canvas {
	overflow: auto;
	max-height: 100%;
	height: 100px;
	float: left;
}

.login100-pic.js-tilt {
	height: fit-content;
	margin-top: auto;
	margin-bottom: auto;
}

.tablinks {
	color: black;
}

i.fa.fa-plus {
    color: #00551C;
    padding-left: 31%;
    padding-top: 25%;
    font-size: large;
    cursor: pointer;
}

i.fa.fa-eye-slash {
    color: #00551C;
    padding-left: 10%;
    padding-top: 15%;
    font-size: large;
    cursor: pointer;

}

canvas#large_clock {
    width: 100%;
    max-width: 400px;
}
