body {
	background-image: url("background.webp");
	background-color: #cccccc;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5px 0px;
	font-size: 20px;
	border: 1px solid orange;
	font-family: serif;
}

input:hover {
	background-color: orange;
}

input#login {
	border: 1px solid blue;
	background-color: lightblue;
	padding: 5px 50px;
	margin: 50px 0px;
}

input#login:hover {
	background-color: blue;
}

h4#title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 66px;
	letter-spacing: 0.1em;
	color: #1D2B4E;
	margin-bottom: 20px;
	margin-top: 20px;
}

div#login-bubble {
	background-color: #ffffcc;
	border-radius: 10px;
	padding-bottom: 20px;
	width: 50%;
	min-width: 650px;
	vertical-align: middle;
	height: 265px;
}

button {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.addAssignment {
	color: black !important;
	background: #ffffff;
	padding: 10px;
	border: 4px solid #494949 !important;
	/*border-radius: 6px;*/
	display: inline-block;
}

.addAssignment:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}

.center-div {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 600px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch input:checked + .slider {
	background-color: #999;
}

.switch input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(565px);
	-ms-transform: translateX(565px);
	transform: translateX(565px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
