body {
    background-image: url("background.webp");
    background-color: #cccccc;
    text-align: center;
}
input {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 0px;
    font-size: 20px;
    border: 1px solid orange;
    font-family: serif;
}
input:hover {
    background-color: orange;
}
input#login {
    border: 1px solid blue;
    background-color: lightblue;
    padding: 5px 10px;
}
input#login:hover {
    background-color: blue;
}
h4#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 66px;
    letter-spacing: 0.1em;
    color: #1D2B4E;
    margin-bottom: 20px;
    margin-top: 20px;
}
div#login-bubble {
    background-color: #ffffcc;
    border-radius: 25px;
    padding-bottom: 20px;
    width: 50%;
    min-width: 650px;
    vertical-align: middle;
    height: 225px;
}
.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
